<div class="row">
  <div class="col-md-12"><h3 class="page-header"><i class="fa fa-eye"></i> <%= t('processes.show_process') %></h3></div>
</div>

<%= breadcrumb(links: [{key: 'processes', name: t('processes.processes'), url: work_processes_path}, {key: '', name: @work_process.name}]) %>

<div class="panel">
    <div class="panel-body">
      <div class="pos-rlt"><div class="pos-abt" style="right:0;z-index:1000;"><%= link_to t('commons.edit'), edit_work_process_path(@work_process), class: 'btn btn-primary' %></div></div>
      <div class="col-md-10 col-md-offset-2 m-t m-b">
      <div class="form-horizontal m-t-small">
        <div class="form-group m-b-none">
          <div class="col-sm-3 text-right text-sm-left text-muted"><%= t('processes.form.process_name') + ' ' + t('locales.en') %></div>
          <div class="col-sm-9"><%= @work_process.name('en') %></div>
        </div>
        <div class="form-group m-b-none">
          <div class="col-sm-3 text-right text-sm-left text-muted"><%= t('processes.form.process_name') + ' ' + t('locales.de') %></div>
          <div class="col-sm-9"><%= @work_process.name('de') %></div>
        </div>
      </div>
    </div>
  </div>
</div>