<div class="portlet-item list-group-item actions_on_hover" id="service_<%= service.id%>">
  <div class="service_anchor" id="service_anchor_<%= service.id%>"></div>
  <div class="row">
    <div class="col-md-1">
      <div>
        <span class="placeholder_position" id="sps_<%=service.id%>"><%= service.position %></span>
        <% if @filters[:search].blank? && @filters[:order] == 'position' %>
          <div class='actions'>
            <i class="fa fa-arrows cursor_move fa-sm portlet-handler"></i>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-1">
      <%= link_to edit_service_path(service), class: "ablock", title: t('commons.edit'), style: "min-height:30px;" do %>
        <strong><%= service.code %></strong>
      <% end %>
    </div>
    <div class="col-md-1">
      <%= service.owner_id && service.owner.name || "<span class='text-muted'>Core</span>".html_safe %>
    </div>
    <div class="col-md-3">
      <strong><%= highlight(service.name, @filters[:search]) %></strong>
    </div>
    <div class="col-md-4">
      <%= service.purpose %>
    </div>
    <div class="col-md-2 text-right">
      <div class="actions">
        <%= link_to edit_service_path(service) , class: "btn btn-default btn-sm" do %>
          <i class="fa fa-pencil"></i> <%= t('commons.edit') %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-1"><%= t('services.supporting_needed') %></div>
    <div class="col-md-9"><%= service.dependings.order(:code).map(&:code).join(", ")%></div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-1"><%= t('services.supports_following') %></div>
    <div class="col-md-9"><%= service.inverse_dependings.order(:code).map(&:code).join(", ")%></div>
  </div>
</div>
