<div class="portlet-item list-group-item actions_on_hover" id="license_id_<%= license.id%>">
  <div class="row">
    <div class="col-md-3">
      <%= link_to edit_license_path(license), class: "ablock", title: t('commons.edit'), style: "min-height:30px;" do %>
        <strong><%= license.name %></strong>
      <% end %>
    </div>
    <div class="col-md-1">
      <%= license.days %>
    </div>
    <div class="col-md-2">
      <%= format_num(license.price, '€') %>
    </div>
    <div class="col-md-1">
      <%= license.incl_partner %>
    </div>
    <div class="col-md-1">
      <%= license.incl_freemium %>
    </div>
    <div class="col-md-1">
      <%= license.incl_premium %>
    </div>
    <div class="col-md-1">
      <%= 0 %>
    </div>
    <div class="col-md-2 text-right">
      <div class="actions">
        <%= link_to edit_license_path(license) , class: "btn btn-default btn-sm" do %>
          <i class="fa fa-pencil"></i> <%= t('commons.edit') %>
        <% end %>
        <%= link_to license_path(license), method: :delete, remote: true, class: 'btn btn-default btn-sm', data: { confirm: t('commons.are_you_sure') } do %>
          <i class="fa fa-trash"></i> <%= t('commons.delete') %>
        <% end %>
      </div>
    </div>
  </div>
</div>
