<% if current_user.is_admin? || current_company.is_jvp? %>
  <%= breadcrumb(links: [
                  {key: 'resellers', name: t('partners.partners'), url: company_resellers_path(current_company.id)},
                  {key: 'reseller', name: @reseller.name}
                  ]) %>
<% end %>

<h3><%= t('companies.your_company_profile') %></h3>
<div class="panel">
  <div class="panel-body">
    <div class="pos-rlt"><div class="pos-abt" style="right:0;z-index:1000;"><%= link_to t('commons.edit'), edit_company_reseller_path(current_company, @reseller), class: 'btn btn-primary' %></div></div>
    <div class="row">
      <div class="col-md-2">
        <div class="thumb-xlarge">
          <div class="pos-rlt img-thumbnail" id="avatar-photo-container">
            <%= image_tag( @reseller.avatar.url(:list) + "?timestamp=#{Time.now.to_i}") %>
          </div>
        </div>
        <p class="m-t"><%= yes_no_label( (@reseller.is_blocked ? t('commons.blocked').upcase : t('commons.active').upcase) ,@reseller.is_blocked) if @reseller.is_blocked? %></p>
      </div>
      <div class="col-md-10">
        <%= render partial: "/shared/company_info", object: @reseller, as: :company %>
      </div>
    </div>
  </div>
</div>

<% if current_user.is_admin? || current_company.is_jvp? %>

  <div class="row">
    <div class="col-md-6"><h4>Customers</h4></div>
    <div class="col-md-6">
      <div class="btn-group pull-right">
        <%= link_to new_company_reseller_customer_path(current_company, @reseller), class: "btn btn-info" do %>
          <i class="fa fa-plus"></i> <%= t('customers.add_new_customer') %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="list-group">
      <div class="list-group-item">
        <div class="row header-list-group">
          <div class="col-md-4"><%= t('customers.name') %></div>
          <div class="col-md-2"><%= t('customers.membership') %></div>
          <div class="col-md-2">
            <% if current_user.is_admin? || current_company.is_jvp? %>
              <%= t('commons.belongs_to') %>
            <% end %>
          </div>
          <div class="col-md-2"><%= t('evaluations.service_sets') %></div>
          <div class="col-md-1"><%= t('branches.branches') %></div>
          <div class="col-md-1"><%= t('users.users') %></div>
        </div>
      </div>
      <%= render partial: "/customers/customer", collection: @reseller.children.customer %>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6"><h4><%= t('users.users') %></h4></div>
    <div class="col-md-6">
      <div class="btn-group pull-right">
        <%= link_to new_member_path(reseller_id: @reseller, addto: 1), class: "btn btn-info" do %>
          <i class="fa fa-plus"></i> <%= t('users.add_new_user') %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="list-group">
      <div class="list-group-item">
        <div class="row header-list-group">
          <div class="col-md-5"><%= t('users.last_name') %>, <%= t('users.first_name') %></div>
          <div class="col-md-4">Email</div>
          <div class="col-md-3"></div>
        </div>
      </div>
    </div>
    <div class="list-group" id="company_users_list">
      <%= render partial: "/company_users/user", collection: @reseller.company_users.includes(:user), as: :company_user, locals: {company: @reseller} %>
    </div>
  </div>

  <div class="panel-footer">
    <%= form_for [@reseller, @reseller.company_users.build], html: {class: "form-horizontal"} do |f|%>
      <div class="form-group">
        <%= f.label :user_id, t('users.add_existing_user'), class: "control-label col-xs-3" %>
        <div class="col-xs-5">
          <%= f.hidden_field :user_id,
                             class: "single_select2 width_100",
                             data: {
                                 url: select_members_path(company_id: @reseller.id),
                                 init_value: f.object.user.to_json(only: [:id, :name]),
                                 no_results: t('commons.no_results_found'),
                                 min_length_required: t('commons.enter_at_least_2_chars'),
                                 searching: t('commons.searching')
                             }%>
        </div>
        <div class="col-xs-2">
          <%= f.submit t('commons.add'), class: "btn btn-primary"%>
        </div>
      </div>
    <% end %>
  </div>

<% end %>
