<div class="panel panel-default">
    <div class="media panel-body">
      <div class="thumb-xlarge pull-left hidden-sm hidden-xs">
        <div class="pos-rlt img-thumbnail" id="avatar-photo-container">
          <%= form_for resource, :as => resource_name, url: registration_path(resource_name), multipart: true, html: {id: "user_avatar_form", class: "basic_file_upload m-b-none", :method => :put} do |f| %>
              <%= f.file_field :avatar, class: "styled_file_input" %>
              <%= f.label :avatar do %>
                <%= image_tag( f.object.avatar.url(:list) + "?timestamp=#{Time.now.to_i}", title: 'Avatar') %>
              <% end %>
          <% end %>
        </div>
        <p class="help-block"><small class="text-justify"><%= t('users.form.click_to_change_profile_image_html') %></small></p>
      </div>

      <div class="media-body">
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, class: "form-horizontal" }) do |f| %>
          <% devise_error_messages! %>

          <%= render partial: "/shared/user_registration_form", object: current_user, as: :resource, locals: {f: f} %>

          <% if session['homes.step'] == 1 %>
            <div class="col-md-7 col-md-offset-3 col-xs-12 text-center">
              <%= f.submit t('users.form.save_and_go_to_step',count: 2), class: "btn btn-primary" %>
            </div>
          <% else %>
            <div class="form-group">
              <div class="col-md-3 col-md-offset-3 col-xs-6">
                <%= link_to t('commons.cancel'), root_path, class: "btn btn-default" %>
              </div>
              <div class="col-md-4 col-xs-6 text-right">
                <%= f.submit t('commons.save'), class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>

        <% end %>
      </div>
    </div>
</div>
