<td valign="top" class="rightColumnContent" mc:edit="right_column_content">
  <a rel="nofollow" href="#" style="color: #505050;text-decoration:none;"><%= company.location&.address %> <br/><%= company.location&.zip %> <%= company.location&.city %></a><br/>
  <a href="mailto:itpilot@netcos.de"><%= company.email %></a><br>
  <%= company.phone %>
</td>
