<%= form_for(@service_dependance) do |f| %>
  <% if @service_dependance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_dependance.errors.count, "error") %> prohibited this service_dependance from being saved:</h2>

      <ul>
      <% @service_dependance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :service_id %><br />
    <%= f.number_field :service_id %>
  </div>
  <div class="field">
    <%= f.label :depending_id %><br />
    <%= f.number_field :depending_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
