<h3><%= @company.name%>'s invoice was <%= @invoice.status_name %></h3>
<p>
  <%= @company.company_type_name %> name: <%= link_to @company.name, @company.is_customer? ? customer_url(@company) : company_reseller_url(@company.parent_id, @company)%>
</p>
<p>
  <%= @company.company_type_name %> employees range: <%= @plan.employees_from %> - <%= @plan.employees_to %>
</p>
<p>
  PREMIUM Period: <%= @invoice.premium_from %> - <%= @invoice.premium_until %>
</p>
