<h3>Requested a new service</h3>
<p>
    <%= t('it_service_request.it_service_name') %>: <%= @service_name %>
</p>
<p>
    <%= t('it_service_request.description') %>: <%=@description %>
</p>
<p>
    <%= t('it_service_request.product_examples') %>: <%=@prod_example %>
</p>
<p>
    <%= t('it_service_request.company_name') %>: <%=@company_name %>
</p>
<p>
    <%= t('it_service_request.contact') %>: <%=@contact %>
</p>
<p>
    <%= t('it_service_request.email') %>: <%=@contact_email %>
</p>
<p>
    <%= t('it_service_request.telephone') %>: <%=@telephone %>
</p>
<p>
    <%= t('it_service_request.reason_remarks') %>: <%=@reason_remark %>
</p>