<div class="list-group-item has_hidden_hover" style="min-height:65px;">
  <div class="row">
    <div class="col-md-1 m-b-small">
      <% unless @evaluation.is_published?%>
        <%= check_box_tag "selected_evaluation", evaluation_result.id, false, class: "check_evaluation_result" %>
      <% end %>
    </div>
    <div class="col-sm-5">
      <%= link_to customer_evaluation_evaluation_result_path(current_customer, evaluation_result.evaluation, evaluation_result) do %>
        <% if evaluation_result.is_edit %>
          <span style='color:red'>
            <%= evaluation_result.service.code%><%= evaluation_result.cloned_index %> <%= evaluation_result.service.name %>
          </span>
        <% else %>
            <%= evaluation_result.service.code%><%= evaluation_result.cloned_index %> <%= evaluation_result.service.name %>
        <% end %>
      <% end %>
      <% unless evaluation_result.status_name == :ignored %>
        <div class="btn-bar show_hidden">
          <%= link_to t("commons.view"), customer_evaluation_evaluation_result_path(current_customer, evaluation_result.evaluation, evaluation_result), class: "btn btn-xs btn-default btn-xs-custom" %>
          <% unless evaluation_result.evaluation.is_published? %>
            <%= link_to t("commons.edit"), edit_customer_evaluation_evaluation_result_path(current_customer, evaluation_result.evaluation, evaluation_result), class: "btn btn-xs btn-default btn-xs-custom" %>
            <%= link_to t("evaluation_results.clone"), clone_customer_evaluation_evaluation_result_path(current_customer, evaluation_result.evaluation, evaluation_result), class: "btn btn-xs btn-default btn-xs-custom", method: :post %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-sm-3">
      <%= evaluation_result.evaluation_service.service.themes.map(&:name).join(", ")%>
    </div>
    <div class="col-md-3">
      <% if evaluation_result.status_name == :ignored %>
        <span class="badge service_status ignored">
          <%= t("evaluation_services.statuses.ignored")%>
        </span>
      <% elsif evaluation_result.status_name == :active %>
        <span class="badge service_status active">
          <%= t("evaluation_services.statuses.active")%>
        </span>
      <% end %>
    </div>
  </div>
</div>
