<% disabled_link_class = @evaluation.is_draft? ? '' : 'disabled-link'%>
<%
  show_disabled ||= false
  disabled_link_class = 'disabled-link' if show_disabled
%>

<% if evaluation_result.status_name == :ignored %>
  <%= link_to( change_mass_customer_evaluation_path(current_customer.id, @evaluation.id, evaluation_result_id: evaluation_result.id, status: :deactivated), :method => :post, class: "btn btn-sm btn-default #{disabled_link_class}") do %>
    <i class="fa fa-close" aria-hidden="true"></i>
  <% end %>
  <button type="button" class="btn btn-sm btn-info" disabled >
    <i class="fa fa-minus" aria-hidden="true"></i>
  </button>
  <%= link_to( change_mass_customer_evaluation_path(current_customer.id, @evaluation.id, evaluation_result_id: evaluation_result.id, status: :active), :method => :post, class: "btn btn-sm btn-default #{disabled_link_class}") do %>
    <i class="fa fa-check" aria-hidden="true"></i>
    <%= t("commons.activate") %>
  <% end %>

<% elsif evaluation_result.status_name == :deactivated %>
  <button type="button" class="btn btn-sm btn-danger" disabled>
    <i class="fa fa-close" aria-hidden="true"></i>
  </button>
  <%= link_to( change_mass_customer_evaluation_path(current_customer.id, @evaluation.id, evaluation_result_id: evaluation_result.id, status: :ignored), :method => :post, class: "btn btn-sm btn-default #{disabled_link_class}") do %>
    <i class="fa fa-minus" aria-hidden="true"></i>
  <% end %>
  <%= link_to( change_mass_customer_evaluation_path(current_customer.id, @evaluation.id, evaluation_result_id: evaluation_result.id, status: :active), :method => :post, class: "btn btn-sm btn-default #{disabled_link_class}") do %>
    <i class="fa fa-check" aria-hidden="true"></i>
    <%= t("commons.activate") %>
  <% end %>

<% elsif evaluation_result.status_name == :draft %>
  <%= link_to( change_mass_customer_evaluation_path(current_customer.id, @evaluation.id, evaluation_result_id: evaluation_result.id, status: :deactivated), :method => :post, class: "btn btn-sm btn-default #{disabled_link_class}") do %>
    <i class="fa fa-close" aria-hidden="true"></i>
  <% end %>
  <%= link_to( change_mass_customer_evaluation_path(current_customer.id, @evaluation.id, evaluation_result_id: evaluation_result.id, status: :ignored), :method => :post, class: "btn btn-sm btn-default #{disabled_link_class}") do %>
    <i class="fa fa-minus" aria-hidden="true"></i>
  <% end %>
  <%= link_to( change_mass_customer_evaluation_path(current_customer.id, @evaluation.id, evaluation_result_id: evaluation_result.id, status: :active), :method => :post, class: "btn btn-sm btn-default #{disabled_link_class}") do %>
    <i class="fa fa-check" aria-hidden="true"></i>
    <%= t("commons.activate") %>
  <% end %>

<% end %>
