<div class="row m-b">
  <div class="col-xs-1">itpilot</div>
  <div class="col-xs-10 text-center"><h3><%= @evaluation.customer.name %> - <%= @evaluation.name %> - <%= t('resources.tabs.fte') %></h3></div>
  <div class="col-xs-1"><%= l(Date.today, format: :long) %></div>
</div>

<section>
  <div class="table-responsive">
    <table class="table table-simple wauto">
      <tr>
        <td class="text-right"></td>
        <td class="text-center"><%= t('full_report.internal') %></td>
        <td class="text-center"><%= t('full_report.external') %></td>
      </tr>
      <tr>
        <td class="text-right"><span class="highlight"><%= t('resources.fte.sum') %></span></td>
        <td class="text-center"><span class="highlight"><%= format_num(@evaluation.sum_hours_intern) %></span></td>
        <td class="text-center"><span class="highlight"><%= format_num(@evaluation.sum_hours_extern) %></span></td>
      </tr>

      <tr>
        <td class="text-right"><span class="highlight"><%= t('resources.fte.average_per_service') %></span></td>
        <td class="text-center"><span class="highlight"><%= format_num(@evaluation.average_intern_per_service) %></span></td>
        <td class="text-center"><span class="highlight"><%= format_num(@evaluation.average_extern_per_service) %></span></td>
      </tr>

      <tr>
        <td class="text-right"><span class="highlight"><%= t('resources.fte.sum_fte_per_month') %></span></td>
        <td class="text-center"><span class="highlight"><%= format_num(@evaluation.fte_resources_intern) %></span></td>
        <td class="text-center"><span class="highlight"><%= format_num(@evaluation.fte_resources_extern) %></span></td>
      </tr>
    </table>
  </div>


  <% (0...@ordered_employee_evaluations.count).step(Evaluation::EMPLOYEE_MAX_COUNT) do |i| %>

    <div class="table-responsive">
      <table class="table table-simple wauto" style="margin-top: 20px;">
        <tbody>
        <tr class="captbl" style="border-top: 1px solid #DDD;">
          <td colspan="2"><%= t('full_report.service') %></td><!--number/name/cost-->
          <td></td><!--cloud-->
          <td colspan="2"><%= t('resources.aggregated.support_time') %></td><!--hours extern/intern-->
          <% @ordered_employee_evaluations.slice(i, i+Evaluation::EMPLOYEE_MAX_COUNT).each do |ee| %>
            <td colspan="2"><%= ee.employee_first_name %> <%= ee.employee_last_name %></td>
          <% end %>
        </tr>
        <tr class="captbl">
          <td style="width: 50px;min-width: 50px;">ID</td><!--number/name/cost-->
          <td class="minimal-name-column"><%= t('full_report.name') %></td>
          <td><%= t('full_report.cloud_service') %></td><!--cloud-->
          <td><%= t('full_report.internal') %></td><!--hours extern/intern-->
          <td><%= t('full_report.external') %></td>
          <% @ordered_employee_evaluations.slice(i, i+Evaluation::EMPLOYEE_MAX_COUNT).each do |ee| %>
            <td><%= t('full_report.internal') %></td>
            <td><%= t('full_report.external') %></td>
          <% end %>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td>
          <% @ordered_employee_evaluations.slice(i, i+Evaluation::EMPLOYEE_MAX_COUNT).each do |ee| %>
            <td class="text-center"><%= "#{ee.employee_monthly_hours} #{t('resources.abbr_hours')}" if ee.was_internal? %></td>
            <td class="text-center"><%= "#{ee.employee_monthly_hours} #{t('resources.abbr_hours')}" if ee.was_external? %></td>
          <% end %>
        </tr>
        </tbody>
        <tbody>
        <% @evaluation.active_evaluation_results.includes(:service).order(:id).each do |evaluation_result| %>
          <tr>
            <td><%= evaluation_result.service.code%></td>
            <td>
              <%= evaluation_result.cloned_index[1..-1] %>
              <%= evaluation_result.service.name %>
              <% if evaluation_result.is_ignored? %>
                <br/><span class="label label-info lisible"><%= t('services.ignored')%></span>
              <% end %>
              <% if evaluation_result.is_deactivated? %>
                <br/><span class="label label-danger lisible"><%= t('services.deactivated')%></span>
              <% end %>
            </td>
            <td class="text-center"><%= evaluation_result.cloud_service ? 'Y' : 'N' %></td>
            <td class="text-center"><%= evaluation_result.hours_intern %></td>
            <td class="text-center"><%= evaluation_result.hours_extern %></td>
            <% @ordered_employee_evaluations.slice(i, i+Evaluation::EMPLOYEE_MAX_COUNT).each do |ee| %>
              <td colspan="2" class="text-center">
                <% eer = evaluation_result.employee_evaluation_results.where(employee_id: ee.employee_id).first %>
                <%= (eer && eer.sum_activity > 0) ? 'Y' : 'N' %>
              </td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <%end %>

</section>
