<div class="row m-b">
  <div class="col-xs-1">itpilot</div>
  <div class="col-xs-10 text-center"><h3><%= @evaluation.customer.name %> - <%= @evaluation.name %> - <%= t('resources.tabs.resources') %></h3></div>
  <div class="col-xs-1"><%= l(Date.today, format: :long) %></div>
</div>

<section>
  <% (0...@ordered_employee_evaluations.count).step(Evaluation::EMPLOYEE_MAX_COUNT) do |i| %>
    <div class="table-responsive">
      <table class="table table-simple wauto" style="margin-top: 20px;">
        <tbody>
        <tr class="captbl">
          <td colspan="2"><%= t('full_report.service') %></td><!--number/name/cost-->
          <td></td><!--cloud-->
          <td colspan="2"><%= t('resources.aggregated.support_time') %></td><!--hours extern/intern-->

          <% @ordered_employee_evaluations.slice(i, i+Evaluation::EMPLOYEE_MAX_COUNT).each_with_index do |ee, employee_index| %>
            <td colspan="12" class="<%= 'active' if (employee_index.even? == 0) %>">
              <%= ee.employee_first_name %> <%= ee.employee_last_name %>
            </td>
          <% end %>

        </tr>
        <tr class="captbl">
          <td style="width: 50px;">ID</td><!--number/name/cost-->
          <td class="minimal-name-column"><%= t('full_report.name') %></td>
          <td><%= t('full_report.cloud_service') %></td><!--cloud-->
          <td><%= t('full_report.internal') %></td><!--hours extern/intern-->
          <td><%= t('full_report.external') %></td>
          <% @ordered_employee_evaluations.slice(i, i+Evaluation::EMPLOYEE_MAX_COUNT).each_with_index do |ee, employee_index| %>
            <td style="min-width:40px;" colspan="6" class="<%= 'active' if (employee_index.even? == 0) %>"><%= "#{ee.employee_monthly_hours} #{t('resources.abbr_hours')}" if ee.was_internal? %></td>
            <td style="min-width:40px;" colspan="6" class="<%= 'active' if (employee_index.even? == 0) %>"><%= "#{ee.employee_monthly_hours} #{t('resources.abbr_hours')}" if ee.was_external? %></td>
          <% end %>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td>
          <% @ordered_employee_evaluations.slice(i, i+Evaluation::EMPLOYEE_MAX_COUNT).each_with_index do |ee, employee_index| %>
            <% EmployeeEvaluationResult::ACTIVITY_TYPES.keys.each do |a|%>
              <td style="min-width:38px; display:none" class="<%= 'active' if (employee_index.even? == 0) %> full-view employee_<%= ee.employee_id%>"><%= a.upcase %></td>
            <% end %>
            <td class="small-view employee_<%= ee.employee_id%>" colspan="12">
              &nbsp;
            </td>
          <% end %>
        </tr>

        <%= render partial: "/resources/resource", collection: @evaluation.active_evaluation_results.includes(:service).order(:id), as: :evaluation_result, locals: {offset: i} %>

        <tr>
          <td colspan="5" style="vertical-align:middle;">
            <div style="margin-left: 20px;text-align: left;">
              <% Domain.order(:id).each do |d| %>
                <div>
                  <span class="text-center"><%= d.code %>:&nbsp;</span>
                  <span><%= t("employees.domains.#{d.code.downcase}", default: d.name) %></span>
                </div>
              <% end %>
            </div>
          </td>
          <% @ordered_employee_evaluations.slice(i, i+Evaluation::EMPLOYEE_MAX_COUNT).each_with_index do |ee, employee_index| %>
            <td colspan="12" style="padding:0;" class="<%= 'active' if (employee_index.even? == 0) %>">
              <div id="service_graph_employee_<%= ee.employee_id%>" style="height:100%;">
                <%= render partial: "/resources/employee_graph", object: @evaluation, as: :evaluation, locals: {employee_id: ee.employee_id} %>
              </div>
            </td>
          <% end %>
        </tr>

        </tbody>
      </table>
    </div>
  <% end %>
</section>
